@font-face {
  font-family: "Uthmanic";
  src: url("./../public/fonts/UthmanTN_v2-0.ttf") format("truetype");
}

.arabic-text {
  font-family: "Uthmanic", serif;
  font-size: 2rem;
  line-height: 2.5;
  direction: rtl;
}